.before-after-section {
  width: 100%;
  padding: 90px 5%;
  background: white;
}

.before-after-section h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #071c47;
  margin-bottom: 15px;
}

.before-after-description {
  max-width: 700px;
  margin: auto;
  text-align: center;
  color: #64748b;
  line-height: 1.8;
  margin-bottom: 60px;
}

.before-after-grid {
  max-width: 1400px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

@media (max-width: 1100px) {
  .before-after-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {

  .before-after-section {
    padding: 70px 20px;
  }

  .before-after-section h2 {
    font-size: 2rem;
  }

  .before-after-grid {
    grid-template-columns: 1fr;
  }
}