*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  overflow-x:hidden ;
}
.homepage{
  background: #f8fafc;
}
.services-page {
  width: 100%;
  overflow-x: hidden;
}